

    <style>
    body{
    	background-color:#454545;
    	padding: 0 25px;
    }
    #wrap{
    	margin: 0 auto;
    	max-width: 1000px;
    }
    #container{
    	background-color:#eee;
    	border: 10px solid #393939;
    	padding:25px;
    }

    .navbar {
    	min-height: 40px;
    	padding-left: 0px;
    }
    .navbar-nav {
    	margin-top: 0px;
    	margin-bottom: 0px;
    }

    .navbar-nav > li > a {
    	padding-top: 10px;
    	padding-bottom: 10px;
    }
    h1{
    	text-transform: uppercase;
    	margin-top: 0;
    	font-size: 2.7em;
    	font-family: 'Roboto Condensed', sans-serif;
    	font-weight: bold;
    	letter-spacing: 4px;
    }
    h2{
    	font-size: 24px;
    	line-height: 1em;
    	margin-top: 0;
    }
    h3{
    	font-size: 20px;
    	text-transform: uppercase;
    }
    footer{
    	background:#393939;
    	color: #fff;
    	width: 100%;
    	padding: 0px 25px;
    }
    </style>

    <script type='text/json' id='base-menu'>
    <%= @menu.html_safe %>
    </script>

		<div id="wrap">
			<div id="container">
				<div class="navbar">
					<ul class="nav navbar-nav">
						<li style='float:left;'><a class='jap' href="index.html">Home</a></li>
						<li style='float:left;background-color:grey'class="active"><a style='color:white;' class='jap' href="menu.html">Menus</a></li>
					</ul>
				</div>

					<div class="row">
						<div class="col col-sm-12 col-lg-4">
							<h1>The Masonry</h1>
						</div>
						<div class="col col-sm-12 col-lg-4">
							<h2>Craft Beer, Fine Wine, and Woodfire Pizza</h2>
						</div>
					</div>

					<div id="menu">

					</div>
				</div>
				<footer>
					<div class="container">
						<div class="pull-left">
							<p>20 Roy St. Seattle, WA 98109<br>
							(206) 453-4375<br>
							<a href="mailto:info@themasonryseattle.com">info@themasonryseattle.com</a>
						</p>
						</div>
						<div class="pull-right">
							<p class="text-right">
								Find us on:<br>
								<a href="https://www.facebook.com/TheMasonryPizza" target="_blank">Facebook</a><br>
								<a href="https://twitter.com/TheMasonryPizza" target="_blank">Twitter</a>
							</p>
						</div>
					</div>
				</footer>
			</wrap>

